<br>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light" >
              <tr style="background-color:#e35d6a">
                <th scope="col">Id</th>
			        <th scope="col">Nome</th>
			        <th scope="col">E-mail</th>
			        <th scope="col">Telefone</th>
              <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let country of countries; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  {{ country.name }}
                </td>
                <td>{{ country.email }}</td>
                <td>{{ country.phone}}</td>
                <td><button type="button" class="btn btn-light">
                  Edit
                </button></td>
                
              </tr>
            </tbody>
        </table>